@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0d0d0d;
  --footer-bg: #151f30;
  --secondary-color: #08d665;
  --tertiary-color: #ffffff80;
  --hover-color: #01ff73;
  --Card-bg: #f9fafb;
  --text-color: #28293e;
}

body,
html {
  overflow-x: hidden;
  font-family: "Cabinet Grotesk", sans-serif !important;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
  /* cursor: none !important; */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Clash Grotesk", sans-serif !important;
}
/* .container {
  max-width: 1400px;
} */
.cursor {
  mix-blend-mode: difference;
  height: 18px;
  width: 18px;
  cursor: none;
  border-radius: 50%;
  background: var(--secondary-color);
  opacity: 0.8;
  transform: rotate(325deg);
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */

  position: fixed;
  z-index: 9999;
}
.page-wrpr {
  position: relative;
}
.page-wrpr::before {
  content: "";
  position: absolute;
  left: 3%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #36363659;
}
.page-wrpr::after {
  content: "";
  position: absolute;
  right: 3%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #36363659;
}
.btn-primary {
  /* background-color: var(--secondary-color);  */
  padding: 18px 24px;
  color: var(--primary-color) !important;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s linear;
  box-shadow: rgba(8, 214, 101, 0.3) 0px 8px 40px 0px,
    rgba(255, 255, 255, 0) 0px 0px 10px 1px inset,
    rgba(8, 214, 101, 0.2) 0px 0px 0px 1px;
  overflow: hidden;
  z-index: 1;
}
.btn-primary span {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  z-index: 1; /* put the text above the background */
}

.btn-primary:hover {
  transform: scale(1.04);
}
.btn-primary::after {
  content: "";
  background: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0 100%
  );
}

.active-nav {
  color: var(--secondary-color) !important;
}
.title1 {
  font-size: 95px;
  letter-spacing: 3px;
  line-height: 120%;
}
.section-heading {
  position: relative;
  margin-top: -5px;
  margin-bottom: 90px;
}
.title2 {
  text-transform: uppercase;
  position: absolute;
  top: -53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 120px;
  font-weight: 700;
  mask-image: linear-gradient(180deg, #0000, #000 20%, #0000 82%);
  margin: 0;
  width: 100%;
}
.title3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.title4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}
/* Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0e0e; /* change to match your theme */
  z-index: 9999;
  transition: opacity 0.8s ease;
}

/* Fade-out animation */
.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Ripple Loader Styles */
.loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo img {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

/* Main content transitions */
.hidden {
  display: none;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Animations */
@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}

/* Nav-bar Section */
.hdr-sec {
  padding: 15px 0;
  background-attachment: fixed;
}
.nav-container {
  max-width: 1500px;
}
nav {
  padding-block: 0 !important;
}
.navbar-brand {
  width: 60px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-nav {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.03);
  opacity: 1;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px,
    rgba(255, 255, 255, 0.04) 0px -8px 24px 0px;
  padding: 20px;
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.offcanvas {
  flex-direction: row !important;
  align-items: center;
}
.navbar-toggler-icon {
  font-size: 1.8rem;
}
.nav-item {
  margin-right: 20px;
}
.nav-link {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 !important;
}
.nav-hover {
  position: relative;
}
.nav-hover::after {
  content: "";
  width: 0%;
  height: 4px;
  background: var(--hover-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 181%;
  transition: 0.7s;
}
.nav-hover.active-nav::after {
  width: 100%;
}
.nav-link:hover {
  color: var(--secondary-color) !important;
}
.nav-hover:hover::after {
  width: 100%;
}

.dropdown-toggle::before {
  content: "";
  width: 0%;
  height: 4px;
  background: var(--hover-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 194%;
  transition: 0.7s;
}
.dropdown-toggle:hover::before {
  width: 100%;
}

.dropdown-menu.show {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -100%;
  top: 150%;
}
.navbar-toggler-icon {
  background-image: none !important;
}
.dropdown-menu {
  transition: all 1s;
  width: 210px;
}
.dropdown-menu:hover {
  transform: scale(1.1);
}
.dropdown-menu > li {
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.dropdown-item {
  font-size: 1.4rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.dropdown-item::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  border-radius: 5px;
  z-index: -1;
  transform: translateY(100%);
  transition-duration: 0.7s;
}

.dropdown-item:hover {
  transform: scale(1.3);
  color: var(--tertiary-color);
}
.dropdown-item:hover::after {
  transform: translateY(0%);
}
.insta::after {
  background-color: #d62976;
}
.linkedin::after {
  background-color: #0072b1;
}
.github::after {
  background-color: #0d1117;
}
.facebook::after {
  background-color: #1877f2;
}
.offcanvas-header {
  border-radius: 10px;
  border: 1px solid #1a1a1a;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.offcanvas-header:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.border-white {
  --bs-border-opacity: 0 !important;
}
.navbar-btn {
  margin-left: auto;
}
.navbar-btn > .btn-primary {
  padding: 12px 25px;
}
.navbar-btn > .btn-primary > span {
  font-size: 18px;
  font-weight: 800;
}
/* Blog Sec */
.blog-sec {
  padding: 90px 0 50px;
  border: 1px solid #36363659;
  background-attachment: fixed;
}
.blog-hdr {
  font-size: 18px;
  margin-bottom: 30px;
}
.blog-hdr > p {
  color: var(--tertiary-color) !important;
  font-size: 18px;
}
.blog-btn {
  margin-right: 12px;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.blog-btn-container {
  margin-bottom: 20px;
}
.blog-btn:hover {
  background-color: #b3b1b1;
}
.blog-btn.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.blog-btn.active:hover {
  background-color: var(--hover-color);
}
.blog-card {
  max-width: 650px;
  padding: 25px;
  background-color: #0000000a;
  border-radius: 16px;
  border: 1px solid #ffffff0d;
  border-radius: 15px;
  margin: 30px auto;
  transition: all 0.3s ease;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 50px var(--footer-bg);
}
.blog-img {
  max-width: 600px;
  border-radius: 15px;
}
.blog-img > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.badge {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 20px;
}
.blog-card > p {
  height: 110px;
  font-size: 18px;
  color: var(--tertiary-color) !important;
}
/* Back to Top buttin */
.back-to-top-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(245, 81, 2, 0.4);
  transition: all 0.3s ease;
}

.back-to-top-fixed.show {
  display: flex;
}

.back-to-top-fixed:hover {
  background-color: var(--hover-color);
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(44, 156, 175, 0.5);
}

.back-to-top-fixed:active {
  transform: translateY(-2px);
}
/* Footer Section */
.ftr-sec {
  border: 1px solid #36363659;
  padding: 50px 0;
}
.ftr-logo {
  width: 250px;
}
.ftr-logo > a {
  width: 100%;
}
.ftr-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ftr-list {
  max-width: 325px;
  margin-left: auto;
  margin-bottom: 60px;
}
.ftr-list-hdr {
  font-size: 24px;
  color: var(--secondary-color);
}
.contact-img-bg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #373535;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.gmail-link:hover {
  color: var(--hover-color) !important;
  transform: translateY(-2px);
  text-decoration: underline;
}
.contact-img-bg > img {
  width: 20px;
}
.ftr-list > ul > li > a > i:hover {
  color: var(--hover-color);
}
.scl-list > ul > li > a {
  font-size: 1.8rem;
}
.footer-btm {
  padding: 40px 0 0;
  border-top: 1px solid #444;
}

@media screen and (max-width: 992px) {
  .btn-primary {
    margin-left: 0 !important;
  }
  /* Header Section */
  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background-color: var(--primary-color);
  }
  .navbar-nav {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    background: none;
    border: none;
    margin-block: 30px 0;
  }
  .m-auto {
    margin: 80px auto 20px !important;
  }
  .mx-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-link {
    margin: 0 0 20px;
  }
  .nav-hover:hover::after {
    width: 0;
  }
  .nav-hover.active-nav::after {
    width: 0;
  }
  .navbar-btn {
    margin-left: 0 !important;
  }
  .dropdown {
    display: none;
  }
  /* Footer Section */
  .ftr-list {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .title2 {
    top: -39px;
    left: 50%;
    font-size: 90px;
  }
  /* Blog Section */
  .blog-btn {
    margin-right: 6px;
    padding: 8px 13px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 576px) {
  .btn-primary {
    font-size: 12px;
    padding: 10px;
  }
  .btn-primary span {
    font-size: 12px;
  }
  .section-heading {
    margin-bottom: 50px;
  }
  .title2 {
    top: -20px;
    font-size: 60px;
    mask-image: linear-gradient(180deg, #0000, #000 5%, #000 95%, #0000);
  }
  .title4 {
    font-size: 9px;
  }
  /* Header Section */
  .navbar-brand {
    width: 50px;
  }
  /* Blog Section */
  .blog-card {
    padding: 10px;
    margin-block: 20px;

    border-radius: 9px;
  }
  .blog-img > img {
    border-radius: 9px;
  }
  .badge {
    padding: 6px 10px;
    margin-bottom: 12px;
  }
  .blog-card > p {
    height: 84px;
    font-size: 12px;
  }
  /* Ftr-sec */
  .ftr-sec {
    padding: 40px 0;
  }
  .ftr-logo {
    margin: 0 auto 50px !important;
  }
  .ftr-list {
    text-align: center;
    margin: 0 auto;
  }

  .ftr-list > ul > li {
    text-align: left;
    margin: 0 auto 70px;
  }
  .scl-list {
    margin-top: 30px;
  }
  .scl-list > ul > li > a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .title2 {
    top: -15px;
    font-size: 47px;
    mask-image: linear-gradient(180deg, #0000, #000 5%, #000 95%, #0000);
  }
}
