@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0d0d0d;
  --footer-bg: #151f30;
  --secondary-color: #08d665;
  --tertiary-color: #ffffff80;
  --hover-color: #01ff73;
  --Card-bg: #f9fafb;
  --text-color: #28293e;
}

body,
html {
  overflow-x: hidden;
  font-family: "Cabinet Grotesk", sans-serif !important;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Clash Grotesk", sans-serif !important;
}

/* .container {
  max-width: 1300px;
} */
.cursor {
  mix-blend-mode: difference;
  height: 18px;
  width: 18px;
  cursor: none;
  border-radius: 50%;
  background: var(--secondary-color);
  opacity: 0.8;
  transform: rotate(325deg);
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */

  position: fixed;
  z-index: 9999;
}
#page-wrpr {
  position: relative;
}
#page-wrpr::before {
  content: "";
  position: absolute;
  left: 3%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #363636cc;
}
#page-wrpr::after {
  content: "";
  position: absolute;
  right: 3%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #363636cc;
}
.btn-primary {
  /* background-color: var(--secondary-color);  */
  padding: 18px 24px;
  color: var(--primary-color) !important;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s linear;
  box-shadow: rgba(8, 214, 101, 0.3) 0px 8px 40px 0px,
    rgba(255, 255, 255, 0) 0px 0px 10px 1px inset,
    rgba(8, 214, 101, 0.2) 0px 0px 0px 1px;
  overflow: hidden;
  z-index: 1;
}

.btn-primary span {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  z-index: 1; /* put the text above the background */
}

.btn-primary:hover {
  transform: scale(1.04);
}
.btn-primary::after {
  content: "";
  background: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    0 100%
  );
}

.active-nav {
  color: var(--secondary-color) !important;
}
.title1 {
  font-size: 95px;
  letter-spacing: 3px;
  line-height: 120%;
}
.section-heading {
  position: relative;
  margin-top: -5px;
  margin-bottom: 90px;
}
.title2 {
  text-transform: uppercase;
  position: absolute;
  top: -53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 120px;
  font-weight: 700;
  mask-image: linear-gradient(180deg, #0000, #000 20%, #0000 82%);
  margin: 0;
  width: 100%;
}
.title3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.9px;
}

.title4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}
.title5 {
  font-size: 20px;
  color: var(--secondary-color);
  letter-spacing: 2px;
}
/* Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e0e0e; /* change to match your theme */
  z-index: 9999;
  transition: opacity 0.8s ease;
}

/* Fade-out animation */
.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Ripple Loader Styles */
.loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo img {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

/* Main content transitions */
.hidden {
  display: none;
}

.show {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Animations */
@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}

/* Nav-bar Section */
.hdr-sec {
  padding: 15px 0;
}
.nav-container {
  max-width: 1500px;
}
nav {
  padding-block: 0 !important;
}
.navbar-brand {
  width: 60px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar-nav {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.03);
  opacity: 1;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px,
    rgba(255, 255, 255, 0.04) 0px -8px 24px 0px;
  padding: 20px;
  margin: 0 auto;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.offcanvas {
  flex-direction: row !important;
  align-items: center;
}
.navbar-toggler-icon {
  font-size: 1.8rem;
}
.nav-item {
  margin-right: 20px;
}
.nav-link {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 !important;
}
.nav-hover {
  position: relative;
}
.nav-hover::after {
  content: "";
  width: 0%;
  height: 4px;
  background: var(--hover-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 181%;
  transition: 0.7s;
}
.nav-hover.active-nav::after {
  width: 100%;
}
.nav-link:hover {
  color: var(--secondary-color) !important;
}
.nav-hover:hover::after {
  width: 100%;
}

.dropdown-toggle::before {
  content: "";
  width: 0%;
  height: 4px;
  background: var(--hover-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 194%;
  transition: 0.7s;
}
.dropdown-toggle:hover::before {
  width: 100%;
}

.dropdown-menu.show {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: -100%;
  top: 150%;
}
.navbar-toggler-icon {
  background-image: none !important;
}
.dropdown-menu {
  transition: all 1s;
  width: 210px;
}
.dropdown-menu:hover {
  transform: scale(1.1);
}
.dropdown-menu > li {
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.dropdown-item {
  font-size: 1.4rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.dropdown-item::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  border-radius: 5px;
  z-index: -1;
  transform: translateY(100%);
  transition-duration: 0.7s;
}

.dropdown-item:hover {
  transform: scale(1.3);
  color: var(--tertiary-color);
}
.dropdown-item:hover::after {
  transform: translateY(0%);
}
.insta::after {
  background-color: #d62976;
}
.linkedin::after {
  background-color: #0072b1;
}
.github::after {
  background-color: #0d1117;
}
.facebook::after {
  background-color: #1877f2;
}
.offcanvas-header {
  border-radius: 10px;
  border: 1px solid #1a1a1a;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.offcanvas-header:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.border-white {
  --bs-border-opacity: 0 !important;
}
.navbar-btn {
  margin-left: auto;
}
.navbar-btn > .btn-primary {
  padding: 12px 25px;
}
.navbar-btn > .btn-primary > span {
  font-size: 18px;
  font-weight: 800;
}
/* Banner Section */
.banner-sec {
  display: flex;
  align-items: center;
  /* background: url(../Assets/Banner-bg.png) no-repeat center/cover; */
  padding: 80px 0;
  background-attachment: fixed;
  border: 1px solid #363636cc;
}

.banner-cntn {
  max-width: 714px;
}
.line1 {
  max-width: 200px;
  font-size: 24px;
  color: var(--tertiary-color);
  letter-spacing: 0.72px;
}
.line2 {
  max-width: 368px;
  color: var(--secondary-color);
  letter-spacing: 0.96px;
  font-size: 35px;
  display: inline-block;
  text-shadow: 0 0 10px rgba(14, 205, 81, 0.6), 0 0 10px rgba(30, 144, 255, 0.1),
    0 0 10px rgba(30, 144, 255, 0.2);
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid var(--hover-color);
  animation: typeAndDelete 7s steps(30) infinite;
  margin-top: 1em;
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 20em;
  }
  90%,
  100% {
    width: 0;
  }
}
.title1 > span {
  color: #7dedaf;
  margin-left: 160px;
}
.banner-cntn > p {
  margin-block: 20px;
  max-width: 698px;
  font-size: 18px;
  color: var(--tertiary-color);
}
.banner-btn > .btn-primary {
  padding: 14px 72px;
}

.banner-img {
  max-width: 600px;
  margin: 0 auto !important;
}

.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.social-buttons {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook2 {
  background-color: #3b5998;
}

.facebook2 svg {
  fill: #f2f2f2;
}

.facebook2:hover svg {
  fill: #3b5998;
}

.github2 {
  background-color: #333;
}

.github2 svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github2:hover svg {
  fill: #333;
}

.linkedin2 {
  background-color: #0077b5;
}

.linkedin2 svg {
  fill: #f2f2f2;
}

.linkedin2:hover svg {
  fill: #0077b5;
}

.instagram2 {
  background-color: #c13584;
}

.instagram2 svg {
  fill: #f2f2f2;
}

.instagram2:hover svg {
  fill: #c13584;
}
/* About Section */
.about-sec {
  /* min-height: 100vh; */
  display: flex;
  position: relative;
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}
.about-img {
  max-width: 470px;
  background: var(--primary-color);
  /* width: 100%;
  height: 100%; */
}

.about-img > img {
  border-radius: 50px;
  border: 4px solid #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-cntn > .item-count {
  margin-left: 0;
  justify-content: start;
}
.about-cntn > .item-count > .item-line {
  margin-right: 10px;
}
.about-cntn > p {
  margin-block: 20px;
  color: var(--tertiary-color) !important;
  font-size: 18px;
}
.about-prg {
  max-width: 758px;
  margin-top: 60px;
}
.skill-item {
  margin-bottom: 25px;
  transition: all 0.3s ease;
}

.skill-label {
  color: var(--tertiary-color);
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.progress-container {
  max-width: 753px;
  background: rgba(255, 255, 255, 0.1);
  height: 12px;
  border-radius: 25px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.progress-bar {
  height: 100%;
  border-radius: 25px;
  position: relative;
  /* background: linear-gradient(
    90deg,
    var(--secondary-color) 0%,
    #64e7f6 50%,
    #c8f5ff 100%
  ); */
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  background: var(--tertiary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.html-progress {
  width: 90%;
}
.css-progress {
  width: 85%;
}
.js-progress {
  width: 80%;
}
.bootstrap-progress {
  width: 95%;
}

.skill-item:hover {
  transform: translateX(10px);
}

.skill-item:hover .skill-label {
  color: var(--secondary-color);
}

.skill-item:hover .progress-bar {
  box-shadow: 0 5px 20px rgba(47, 210, 25, 0.8);
}
/* Service Section */
.service-sec {
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}
.service-hdr {
  text-align: center;
  margin-bottom: 30px;
}

.service-hdr > p {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--tertiary-color) !important;
}
.card {
  background: transparent;
  box-shadow: inset 0 0 10px #3b3b3b;
  border: 4px solid #202020;
  color: var(--tertiary-color);
  padding: 22px 18px;
  max-width: 330px;
  height: 290px;
  margin: 0 auto 20px;
}
.card:hover {
  transform: translateY(-5px);
  border: 4px solid var(--secondary-color);
}
.card-icon > img {
  width: 80px;
  height: 80px;
}
.card > p {
  color: var(--tertiary-color);
  font-size: 14px;
}
.card > .title3 {
  margin-block: 10px;
}
/* Other Skill Section */
.other-skill-sec {
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}
.other-skill-hdr {
  text-align: center;
  margin-bottom: 30px;
}
.other-skill-hdr > p {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--tertiary-color) !important;
  font-size: 18px;
}
.skill-logos > li > img {
  width: 80px;
  height: 80px;
}
/* Project Section */
.project-sec {
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}
.project-hdr {
  text-align: center;
}
.project-hdr > p {
  text-align: center;
  font-size: 18px;
  margin-block: 20px;
  color: var(--tertiary-color) !important;
}
.project-wrpr {
  margin-block: 50px;
}
.filter-btn-container {
  text-align: center;
  margin-block: 20px 80px;
}
.fltr-btn {
  margin-right: 12px;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.fltr-btn:hover {
  background-color: #b3b1b1;
}
.fltr-btn.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.fltr-btn.active:hover {
  background-color: var(--hover-color);
}
.swiper {
  width: 100%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  /* height: 700px; */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: var(--tertiary-color); */
  /* color: var(--tertiary-color); */
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--secondary-color);
}

.prjct-cntn {
  height: 600px;
  width: 300px;
  background: transparent;
  box-shadow: inset 0 0 5px #3b3b3b;
  border: 4px solid #202020;
  border-radius: 20px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); */
  margin: 0 0 60px;
}
.prjct-img {
  margin: 0 !important;
  width: 100%;
  height: 350px;
}
.prjct-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.prjct-desc {
  padding: 10px;
  color: var(--tertiary-color);
  font-weight: bold;
  letter-spacing: 2px;
}
.prjct-desc > p {
  margin-bottom: 10px !important;
}
.prjct-desc > p > span {
  color: #7dedaf;
}
.used-skills {
  margin-block: 30px;
}
.used-skills > li {
  width: 40px;
  height: 40px;
  background: #ffffff0d;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;

  /* margin-left: -5px; */
}
/* .used-skills li:nth-child(1) {
  
}
.used-skills li:nth-child(2) {
  transform: translateX(-5px);
  z-index: 2;
}
.used-skills li:nth-child(3) {
  transform: translateX(-10px);
  z-index: 3;
}
.used-skills li:nth-child(4) {
  transform: translateX(-15px);
  z-index: 4;
}
.used-skills li:nth-child(5) {
  transform: translateX(-20px);
  z-index: 5;
} */
.used-skills > li > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.prjct-desc > .btn-primary {
  padding: 18px;
}
.prjct-desc > .btn-primary > span {
  font-size: 16px;
}

.used-skill {
  display: inline-block;
  color: var(--secondary-color);
}
.prjct-desc > .btn-primary {
  font-size: 14px;
  padding: 10px 20px;
  box-shadow: none;
}

.swiper-pagination-bullet {
  .swiper-pagination-clickable & {
    cursor: none;
  }
}
/* Blog Section */
.blog-sec {
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}

.blog-hdr {
  font-size: 18px;
  margin-block: 20px;
}
.blog-hdr > p {
  color: var(--tertiary-color) !important;
  font-size: 18px;
}
.blog-card {
  max-width: 650px;
  padding: 25px;
  background-color: #0000000a;
  border-radius: 16px;
  border: 1px solid #ffffff0d;
  border-radius: 15px;
  margin: 30px auto;
  transition: all 0.3s ease;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 20px var(--text-color);
}
.blog-img {
  max-width: 600px;
  border-radius: 15px;
}
.blog-img > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: contain;
}
.badge {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 20px;
}
.blog-card > p {
  height: 110px;
  font-size: 18px;
  color: var(--tertiary-color) !important;
}
/* Q&A Section */
.qna-sec {
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}
.qna-hdr > p {
  color: var(--tertiary-color) !important;
  font-size: 18px;
  padding-bottom: 20px !important;
}
.qna-row {
  align-items: center;
}
.accordion-item {
  border: none;
  background: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.accordion-button {
  font-size: 20px;
  background-color: #171717;
  color: #fff;
  width: 100%;
  border-radius: 16px !important;
  opacity: 1;
  padding: 16px 16px 20px 24px;
  margin-bottom: 20px;
}
.accordion-button::after {
  display: none;
}
.plus-wrpr {
  margin-left: auto;
  font-size: 1rem;
  background-color: #0d0d0d;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-body {
  line-height: 30px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
.accordion-button:not(.collapsed) {
  background-color: #7dedaf !important;
  color: var(--primary-color) !important;
  font-weight: 500;
}
.accordion-button:not(.collapsed) > .plus-wrpr {
  color: var(--tertiary-color) !important;
}
.accordion-button:not(.collapsed) > .fa-square-caret-down {
  transform: rotatex(180deg);
}
/* Together Section */
.tog-sec {
  padding: 100px 0 50px;
  border: 1px solid #363636cc;
}
.tog-hdr {
  text-align: center;
}
.tog-hdr > p {
  font-size: 18px;
  margin-block: 40px;
  color: var(--tertiary-color) !important;
}
.input-form {
  max-width: 834px;
  background-color: var(--primary-color);
  padding: 20px 25px 40px;
  border-radius: 20px;
  border: 4px solid #333;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  margin: 0 auto;
}
.input-form:hover {
  transform: translateY(-5px);
}
.form-hdr {
  font-size: 50px;
  font-weight: 600;
}
#email-input,
#fname-input,
#lname-input,
#text-input {
  background-color: #333 !important;
  color: #fff !important;
  border: none;
  width: 100%;
  border-radius: 0.375rem;

  padding: 10px 30px !important;
}
.input-btn {
  width: 100%;
  padding: 16px 0 !important;
}
#email-input {
  margin-block: 20px;
}
#text-input {
  height: 130px;
  margin-bottom: 20px;
}
.input-btn {
  background: transparent;
  outline: 4px solid #333 !important;
  cursor: pointer;
  color: var(--Card-bg) !important;
  padding: 20px 36px;
  transition: all 0.7s linear;
  box-shadow: none !important;
}

.input-btn:hover {
  background: var(--tertiary-color);
  color: var(--text-color) !important;
  box-shadow: none !important;
  transform: none;
  border: none !important;
  outline: none;
}
/* Back to Top buttin */
.back-to-top-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(111, 227, 109, 0.822);
  transition: all 0.3s ease;
}

.back-to-top-fixed.show {
  display: flex;
}

.back-to-top-fixed:hover {
  background-color: var(--hover-color);
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(15, 208, 241, 0.847);
}

.back-to-top-fixed:active {
  transform: translateY(-2px);
}
/* Footer Section */
.ftr-sec {
  /* background: radial-gradient(50% 50% at 50% 0%, #151515 0%, #000 100%); */
  padding: 50px 0;
  border: 1px solid #363636cc;
}
.ftr-logo {
  width: 250px;
}
.ftr-logo > a {
  width: 100%;
}
.ftr-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ftr-list {
  max-width: 325px;
  margin-left: auto;
  margin-bottom: 60px;
}
.ftr-list-hdr {
  font-size: 24px;
  color: var(--secondary-color);
}
.contact-img-bg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #373535;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.gmail-link:hover {
  color: var(--hover-color) !important;
  transform: translateY(-2px);
  text-decoration: underline;
}
.contact-list li {
  color: var(--tertiary-color) !important;
}
.contact-img-bg > img {
  width: 20px;
}
.ftr-list > ul > li > a > i:hover {
  color: var(--hover-color);
}
.scl-list > ul > li > a {
  font-size: 1.8rem;
}
.footer-btm {
  padding: 40px 0 0;
  border-top: 1px solid #444;
}
@media screen and (max-width: 1200px) {
  .title1 {
    max-width: 100%;
  }

  /* Banner Section */
  .banner-row {
    flex-direction: column-reverse;
  }
  .banner-cntn {
    max-width: 100%;
  }
  .line1 {
    max-width: 100%;
  }
  .line2 {
    max-width: 100%;
  }
  .banner-cntn > p {
    max-width: 100%;
  }
  .img-bg {
    margin: 0 auto 10px;
  }
  /* About Section */
  .about-left {
    text-align: center;
  }
  .about-img {
    margin: 0 auto 30px;
  }

  .about-cntn > .item-count {
    justify-content: space-around;
  }
  .about-cntn > p {
    text-align: center;
  }
  .about-prg {
    margin: 0 auto;
  }
  /* Service Section */
}
@media screen and (max-width: 992px) {
  html,
  body {
    cursor: default;
  }
  .cursor {
    display: none;
  }
  a {
    cursor: pointer !important;
  }
  .btn-primary {
    margin-left: 0 !important;
  }
  /* Header Section */
  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background-color: var(--primary-color);
  }
  .navbar-nav {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    background: none;
    border: none;
    margin: 30px auto 0;
  }
  .m-auto {
    margin: 80px auto 20px !important;
  }
  .mx-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-link {
    margin: 0 0 20px;
  }
  .nav-hover:hover::after {
    width: 0;
  }
  .nav-hover.active-nav::after {
    width: 0;
  }
  .navbar-btn {
    margin-left: 0 !important;
  }
  .dropdown {
    display: none;
  }
  /* Project Section */
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  /* Footer Section */
  .ftr-list {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .title1 {
    font-size: 55px;
  }
  .title2 {
    top: -39px;
    left: 50%;
    font-size: 90px;
  }
  /* Banner Section */
  .img-bg {
    width: 300px;
    height: 300px;
  }
  .banner-cntn {
    margin-top: 20px;
  }
  .line1 {
    font-size: 20px;
  }
  .line2 {
    font-size: 24px;
  }
  .banner-cntn > p {
    margin-block: 10px 20px;
    font-size: 14px;
  }
  /* About Section */
  .about-cntn > p {
    margin-block: 10px 20px;
    font-size: 14px;
  }
  .about-prg {
    margin: 20px;
    padding: 10px;
  }

  .skill-percentage {
    right: -50px;
    font-size: 0.8rem;
    padding: 6px 10px;
  }

  .skill-item:hover {
    transform: translateX(5px);
  }
  /* Service Section */

  .service-hdr > p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  /* Project Section */
  .project-hdr > p {
    font-size: 14px;
    margin-block: 10px;
  }
  .project-wrpr {
    margin-block: 30px;
  }
  .filter-btn-container {
    margin-block: 20px 30px;
  }
  .fltr-btn {
    margin-right: 6px;
    padding: 8px 13px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .prjct-cntn {
    height: 590px;
  }

  .prjct-desc > .title4 {
    font-size: 12px;
  }

  .prjct-desc > p {
    /* font-size: 12px; */
    margin-bottom: 5px !important;
  }
  .used-skill {
    font-size: 12px;
  }
  .prjct-desc > .btn-primary {
    padding: 10px 14px;
  }
  .prjct-desc > .btn-primary span {
    font-size: 14px;
    letter-spacing: 0;
  }
  /* Qna Section */
  .qna-sec {
    padding: 10px 0;
  }

  #email-input {
    font-size: 12px;
    margin-bottom: 30px;
  }
  /* Together Section */
  .tog-hdr > p {
    font-size: 14px;
  }
  #fname-input {
    margin-bottom: 20px;
  }
  #email-input,
  #fname-input,
  #lname-input,
  #text-input {
    font-size: 14px !important;
  }
  /* Backto top Button */
  .back-to-top-fixed {
    width: 45px;
    height: 45px;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
  }
  /* Footer Section */
  .ftr-logo {
    width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .btn-primary {
    font-size: 12px;
    padding: 10px;
  }
  .btn-primary span {
    font-size: 12px;
  }
  .title1 {
    font-size: 34px;
  }
  .section-heading {
    margin-bottom: 50px;
  }
  .title2 {
    top: -20px;
    font-size: 60px;
    mask-image: linear-gradient(180deg, #0000, #000 5%, #000 95%, #0000);
  }
  .title4 {
    font-size: 9px;
  }

  .item-line {
    width: 110px;
    height: 2px;
  }
  .item-line::after {
    width: 70px;
    height: 8px;
  }
  /* Header Section */
  .navbar-brand {
    width: 50px;
  }
  /* Banner Section */
  .banner-sec {
    padding: 30px 0;
  }
  .line1 {
    font-size: 14px;
  }
  .line2 {
    font-size: 20px;
    margin-top: 0.5em;
  }
  .title1 > span {
    margin-left: 100px;
  }
  .banner-cntn > p {
    font-size: 12px;
  }
  .banner-btn > .btn-primary {
    padding: 12px 21px;
  }
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 10.9em;
    }
    90%,
    100% {
      width: 0;
    }
  }
  /* About Section */
  .about-sec {
    padding: 40px 0;
  }
  .about-img {
    margin: 0 auto 20px;
  }
  .about-cntn > p {
    font-size: 12px;
  }

  /* Service Section */
  .service-sec {
    padding: 40px 0;
  }
  .service-hdr > p {
    font-size: 12px;
  }
  .card {
    height: 260px;
  }
  .card > p {
    font-size: 12px;
  }
  /* Other Skill Section */
  .other-skill-sec {
    padding: 40px 0;
  }
  .other-skill-hdr > p {
    font-size: 12px;
  }
  /* Project Section */
  .project-sec {
    padding: 40px 0;
  }
  .about-prg {
    margin: 0;
    padding: 10px;
  }
  /* .project-hdr > p {
    font-size: 12px;
  } */

  /* Blog Section */
  .blog-sec {
    padding: 40px 0;
  }
  .blog-card {
    padding: 10px;
    margin-block: 20px;

    border-radius: 9px;
  }
  .blog-img > img {
    border-radius: 9px;
  }
  .badge {
    padding: 6px 10px;
    margin-bottom: 8px;
  }
  .blog-card > p {
    height: 65px;
    font-size: 12px;
  }
  /* Qna Section */
  .qna-sec {
    padding: 40px 0;
  }
  .qna-hdr > p {
    font-size: 12px;
  }

  .accordion-button {
    font-size: 16px;
  }
  .accordion-body {
    font-size: 12px;
    padding: 14px 16px !important;
    line-height: 20px;
  }
  /* Togather Section */
  .tog-sec {
    padding: 40px 0;
  }
  .tog-hdr > p {
    font-size: 12px;
    margin-block: 15px;
  }
  .mt-5 {
    margin-top: 2rem !important;
  }
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .input-form {
    max-width: 95%;
    padding: 16px 12px 40px;
  }
  .form-hdr {
    font-size: 28px;
  }

  #fname-input {
    margin-bottom: 15px;
  }
  #email-input {
    margin-block: 15px;
  }
  #email-input,
  #fname-input,
  #lname-input,
  #text-input {
    font-size: 12px !important;
    padding: 7px 12px !important;
  }
  #text-input {
    height: 100px;
    margin-bottom: 15px;
  }

  /* Footer Section */
  .ftr-sec {
    padding: 40px 0;
  }
  .ftr-logo {
    margin: 0 auto 50px !important;
  }
  .ftr-list {
    text-align: center;
    margin: 0 auto;
  }

  .ftr-list > ul > li {
    text-align: left;
    margin: 0 auto 70px;
  }
  .scl-list {
    margin-top: 30px;
  }
  .scl-list > ul > li > a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .title2 {
    top: -15px;
    font-size: 47px;
    mask-image: linear-gradient(180deg, #0000, #000 5%, #000 95%, #0000);
  }
}
